.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card {
}

.hero-card__content {
  flex: 1 0 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.hero-card__header {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.hero-card__primary {
  color: var(--card--text--color);
  font-size: 2.3rem;
  position: relative;
}

.hero-card__body {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.hero-card__secondary {
  font-size: 1.1rem;
  display: inline-block;
  color: var(--card--text--color);
}

.hero-card__image {
  text-align: end;
}
.hero-card__image img {
  height: 100%;
  max-width: 100%;
  padding: 40px;
  border-radius: 50%;
}

.hero-card__footer {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
  display: flex;
  gap: 1rem;
  
}

.hero-card__icon {
  border-radius: 5px;
display: block;
width: 2.5rem;
padding: 5px;
  fill: var(--card--text--color);
  cursor: pointer;
  position: relative;
   transition: 250ms
}

.hero-card__icon:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 250ms;
}
























@media (width <= 900px) {
  .information-cards {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-card {
    margin: 1rem;
  }
  .hero-card__image {
    display: flex;
    align-items: flex-end;
    height: 25rem;
    max-width: 25rem;
    width: 100%;
    margin: 0.5rem;
    filter: drop-shadow(92px 30px 30px rgba(165, 72, 165, 0));
  }
  .hero-card__content {
    order: 2;

    gap: 0;
    align-items: flex-start;
    gap: 1rem;
  }

  .hero-card__image img {
    height: auto;
    max-width: 100%;
  }

  .hero-card__header {
  }
  .hero-card__primary {
    font-size: 1.8rem;
  }

  .hero-card__body {
  }
  .hero-card__secondary {
    font-size: 1rem;
  }
  .hero-card__footer {
    display: flex;
    padding: 10px;
    gap: 1rem;
  }
  .hero-card__icon {
    width: 2.1rem;
  }
}

.information-cards {
  display: flex;
  justify-content: center;
  height: 30rem;
  max-width: 80rem;
  width: 100%;
  border-radius: 20px;
}












/**Project cards **/










.contact-section {
  margin-top: 10rem;

  
}

.contact-card {
  display: flex;
  justify-content: center;
}

.contact-card__content {
  padding: 20px;
}

.contact-card__header {
  color: white;
}

.contact-icons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 3rem;
  gap: 5rem;
  
}

.contact-icons__box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5.5rem;

  border-radius: 5px;
  position: relative;
}

.contact-icons__box2 {
  /*  background-color: rgb(40, 31, 55); */
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  position: relative;
  align-items: center;
}

.contact-icon {
  width: 3rem;
}
.contact-icons__box2 > a::before {
  content: "";
  position: absolute;
  inset: 0;
}
.contact-icons__box1 > a::before {
  content: "";
  position: absolute;
  inset: 0;
}