
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card {

  
}

.hero-card__content {
  flex: 1 0 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
 
}

.hero-card__header {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.hero-card__primary {
  color: var(--card--text--color);
  font-size: 2.3rem;
  position: relative;
}

.hero-card__body {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.hero-card__secondary {
  font-size: 1.1rem;
  display: inline-block;
  color: var(--card--text--color);
}







.hero-card__image {
  text-align: end;

}
.hero-card__image img {
  height: 100%;
  max-width: 100%;
  padding: 40px;
  border-radius: 50%;



}












.hero-card__footer {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.hero-card__icon {
  width: 1.5rem;
  fill: var(--card--text--color);
}



@media  (width <= 900px) {
  .information-cards {
height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .hero-card {
     margin: 1rem;
  
    
  }
.hero-card__image {

display: flex;
align-items: flex-end;
  height: 25rem;
  max-width: 25rem;
  width: 100%;
margin: 0.5rem;
  filter: drop-shadow(92px 30px 30px rgba(165, 72, 165, 0));

}
.hero-card__content {
  order: 2;
 

  gap: 0;
align-items: flex-start;
gap: 1rem;

}


.hero-card__image img {
 height: auto;
 max-width: 100%;
  
}

.hero-card__header {




}
.hero-card__primary {
  font-size: 1.8rem;
}

.hero-card__body {
 

}
.hero-card__secondary {
  font-size: 1rem;
}
.hero-card__footer {
 
 display: flex;
 padding: 10px;
 gap: 1rem;
}
.hero-card__icon {
  width: 1.5rem;
 
}
}







.information-cards {
  display: flex;
  justify-content: center;
  height: 30rem;
  max-width: 80rem;
  width: 100%;
  border-radius: 20px;

 
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;

background: radial-gradient(
 
  farthest-side, 
  var(--gradient-clr-1),
  var(--gradient-clr-2)


);
}


.about-card {
  display: flex;
  align-items: center;
 


}


.about-card__image {
}

.about-card__content {
  color: var(--card--text--color);
  max-width: 50rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.about-card__header {
  max-width: 25rem;
  width: 100%;
  text-align: center;
}

.about-card__primary {
  font-size: 2.3rem;
  padding: 0 0 0 7px;
}
.about-card__body {
  max-width: 25rem;
  width: 100%;
  padding: 0 10px 0 10px;
}
.about-card__secondary {
  font-weight: normal;
  font-size: 1.1rem;
  display: inline-block;
}
.big-svg {
  margin: 0 0 0 4rem;
  max-width: 30rem;
  width: 100%;
  height: auto;

}


















@media (width <= 900px) {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .about-card {

    gap: 1rem;
  }

  .about-card__svg {
    order: 1;
    
  }

  .big-svg {
    margin: 0 0 0 0;
    max-width: 22rem;
  }
  .about-card__content {
    max-width: 22rem;

    gap: 0rem;

    padding: 20px;
  }

  .about-card__header {
    max-width: 20rem;
  }

  .about-card__primary {
    font-size: 1.8rem;
  }
  .about-card__body {
    max-width: 22rem;
  }
  .about-card__secondary {
    font-size: 1rem;
    display: inline-block;
  }
}











.project-section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 30rem));
  grid-auto-rows: 40rem;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  margin: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(24, 19, 19, 0.25);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
 

}

.project-card--3 {
}
.project-card:hover:before,
.project-card:hover:after {
  transition: opacity 500ms ease-in;

  opacity: 1;
}

/** Chrome */
.project-card::before,
.project-card::after {
  transition: opacity 500ms ease-in-out;
  border-radius: inherit;
  content: "";
  position: absolute;
  inset: -1px;
background: radial-gradient(
  farthest-side, 
  var(--gradient-clr-1),
  var(--gradient-clr-2)

);
  background-size: 450% 100%;
  z-index: -1;
  opacity: 0;
  animation: glowingCard 15s ease-in-out;
}
@keyframes glowingCard {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.project-card::after {
  filter: blur(10px);
}

.project-card--3 {
  /* background: none; */
}

.project-card__header {
  flex: 0 1 20rem;
  overflow: hidden;
  margin: 1rem;
}

.project-card__header > img {
  border-radius: 10px;
}

.scrolling-image-1 {
  transform: translateY(-54%);
}
.scrolling-image-2 {
  transform: translateY(-30%);
}

.scrolling-image-1,
.scrolling-image-2 {
  height: auto;
  max-width: 100%;
  transition: 3s;
  transform: translateY(0);
}

.scrolling-image-1.scrolled {
  transition: 5s;
  transform: translateY(-54%);
}
.scrolling-image-2.scrolled {
  transition: 5s;
  transform: translateY(-30%);
}

@media screen and (width <= 400px) {
  .scrolling-image-1.scrolled {
    transform: translateY(-45%);
  }
  .scrolling-image-2.scrolled {
    transform: translateY(-20%);
  }
}
.project-card__body {
  color: var(--card--text--color);
  flex: 1 1 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.project-card__primary {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 15px;
}
.project-card__secondary {
  font-size: 1.1rem;
  max-width: 30ch;
  text-align: center;
}

.project-card__footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  gap: 1rem;
 
}
.github-container {
  width: 5rem;
  margin-bottom: 0.3rem;
}

.demo-container {
  width: 5rem;
  display: flex;
  align-items: center;
   margin-bottom: 0.3rem;
}

.project-card--icon {
  width: 1.5rem;
}

.demo-container > i {
  color: white;
  font-size: 1.3em;
}

.github-container,
.demo-container {
  display: flex;
  gap: 0.5rem;
  padding: 5px;
}

.github-container,
.demo-container > span {
  color: var(--card--text--color);
}

.name-highlighter:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.2rem;
  bottom: 0;
  background-color: orange;
  transform: skew(60deg);
}
