@import url(/css/cards.css);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@property --conic-dreams {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --wow-ok {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
:root {
  --header--nav--bg--color: #33006f;
  --body--background--color: #1f1f1f;
  --card--background--color: #323232;
  --card--text--color: #fbfbfb;
  --component--color: #e08e45;
  --card--global--margin: 0 1rem;

  --gradient-clr-1: rgb(29, 30, 21);
  --gradient-clr-2: rgb(42, 31, 63);
  --gradient-clr-3: rgb(51, 26, 53);

  --clr-1: #34006f77;
  --clr-2: #1f1f1f;
  --clr-3: #323232;
  --clr-4: #e08e45;
  --clr-5: #637c54;

  font-size: 1rem;

  --text--color: #080808;
}

body {
  background-color: var(--body--background--color);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem 1fr auto;
  animation: movingBody 20s infinite;
}

.header {
  display: flex;
  justify-content: space-between;

  z-index: 1;


}

.hamburger {
  display: none;
  margin-right: 1rem;
}

.header-logo {
  flex: 0 1 5rem;
  margin-left: 1rem;
}
.header-logo img {
  height: auto;
  max-width: 100%;
  filter: invert(100%);
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 auto;
}

.nav-ul {
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.nav-item {
  font-size: 1rem;
  color: var(--card--text--color);
  font-weight: normal;
  letter-spacing: 0;
  padding: 0 5px;
}

@media screen and (width <= 1000px) {
  .header {
    align-items: center;
  }
  .nav {
    position: fixed;

    top: 0;
    height: 100%;
    background: rgba(16, 34, 40, 0.822);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    width: 0%;

    transition: 0.3s;
    /* width: 10rem; */
  }

  .nav.active {
    width: 100%;

    transition: 0.3s;
  }
  .nav.active .nav-ul {
    opacity: 1;
  }
  .nav-ul {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    opacity: 0;
  }


  .nav-item {
    opacity: 0;
    transform: translateX(-300px);
    display: block;
  }

  .nav-item.active {
    opacity: 1;
    transition: 600ms;
    transform: translateX(0);
  }


  .hamburger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
  }
  .hamburger-icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 1.5rem;
    height: 1rem;
    transform: rotate(0);
    transition: 0.3s;
  }
  .hamburger.active .hamburger-icon {
    transform: rotate(360deg);
  }
  .hamburger-icon span {
    border-radius: 5px;
    position: absolute;
    display: block;
    width: 100%;
    height: 0.115rem;
    background-color: var(--card--text--color);
    transition: 0.3s;
  }
  .hamburger-icon span:nth-child(1) {
    top: 0;
    left: 0;
    width: 50%;
    transform: translateY(0);
  }

  .hamburger.active span:nth-child(1) {
    width: 100%;
    transform: translateY(7px);
  }

  .hamburger-icon span:nth-child(2) {
    width: 100%;
    transform: scaleX(1);
    opacity: 1;
  }

  .hamburger.active span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    width: 100%;
    transform: translateY(-7px);
    transform: rotate(90deg);
    bottom: 7px;
  }

  .hamburger-icon span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 50%;
    transform: rotate(0);
  }

  /** Animations*/

  /** */
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(100svh - 5rem) auto max-content auto;
  gap: 5rem;
}

.contact-section {
  margin-top: 10rem;
  
}

.contact-card {
  display: flex;
  justify-content: center;
}

.contact-card__content {
  padding: 20px;
}

.contact-card__header {
  color: white;
}

.contact-icons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 3rem;
  gap: 5rem;
  
}

.contact-icons__box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5.5rem;

  border-radius: 5px;
  position: relative;
}

.contact-icons__box2 {
  /*  background-color: rgb(40, 31, 55); */
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  position: relative;
  align-items: center;
}

.contact-icon {
  width: 3rem;
}
.contact-icons__box2 > a::before {
  content: "";
  position: absolute;
  inset: 0;
}
.contact-icons__box1 > a::before {
  content: "";
  position: absolute;
  inset: 0;
}

.footer-primary {
  color: var(--clr-3);
  font-size: 1rem;
  padding: 10px;
  font-weight: normal;
}


.hero-card__icon {
  border-radius: 5px;
display: block;
width: 2.5rem;
padding: 5px;
  fill: var(--card--text--color);
  cursor: pointer;
  position: relative;
   transition: 250ms
}

.hero-card__icon:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 250ms;
}