*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --primary-background-color: #ffede1;
  --component-background-color: purple;
  font-size: 1rem;

  --text--color: #080808;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  background-color: #5465FF;
}
.hamburger {
  display: none;
}

.header-logo {
  flex: 0 1 5rem;
}
.header-logo img {
  height: auto;
  max-width: 100%;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 auto;
}

.nav-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.nav-item {
  font-size: 1rem;
  color: var(--text--color);
  font-weight: 600;
  letter-spacing: 0;
  padding: 0 5px;
}

.nav-li {
}

@media screen and (width <= 1000px) {
  .header {
    align-items: center;
    margin: 0 0.5rem;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: orange;
    width: 0;
    transition: 0.3s;
    /* width: 10rem; */
  }

  .nav.active {
    width: 50%;
    transition: 0.3s;
  }
  .nav.active .nav-ul {
    opacity: 1;
  }
  .nav-ul {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    opacity: 0;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    z-index: 1; /** Z index here*/
  }
  .hamburger-icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 1.7rem;
    height: 1.1rem;
    transform: rotate(0);
    transition: 0.3s;
  }
  .hamburger.active .hamburger-icon {
    transform: rotate(360deg);
  }
  .hamburger-icon span {
    border-radius: 5px;
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  .hamburger-icon span:nth-child(1) {
    top: 0;
    left: 0;
    width: 50%;
    transform: translateY(0);
  }

  .hamburger.active span:nth-child(1) {
    width: 100%;
    transform: translateY(7px);
  }

  .hamburger-icon span:nth-child(2) {
    width: 100%;
    transform: scaleX(1);
    opacity: 1;
  }

  .hamburger.active span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    width: 100%;
    transform: translateY(-7px);
    transform: rotate(90deg);
    bottom: 7px;
  }

  .hamburger-icon span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 50%;
    transform: rotate(0);
  }
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(100dvh - 5rem) auto minmax(50rem, 1fr) 50dvh; /*Fiks senere*/
}

/** top container **/
.page-hero {
  display: grid;
  grid-template-columns: minmax(25rem, 40rem) minmax(15rem, 30rem);
  grid-template-rows: max-content;
  justify-content: center;
  align-content: center;
  margin: 0 1rem; 
  padding: 0 5px 0 5px;
 
}
@media screen and (width <= 1000px) {
  .page-hero {
    grid-template-columns: minmax(15rem, 25rem);
    align-content: start;
  }

  .hero-card__image {
    grid-row: 1;
    margin-top: 5rem;
  }
}

.hero-card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
}

.hero-card__header {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.hero-card--primary {
  font-size: 3rem;
  font-weight: 900;
}
.hero-card__body {
  flex: 0 1 auto;
  margin-left: 1rem;

  display: flex;
  align-items: center;
}
.hero-card--secondary {
  font-weight: normal;
  font-size: 1.2rem;
}
.hero-card__footer {
  margin-left: 1rem;
  flex: 0 1 3rem;
  display: flex;
  align-items: center;

  gap: 1rem;
}
.hero-footer-icon {
  width: 2rem;
}

.hero-card__image {
  border-radius: 50%;
}
.hero-card__image img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}

/** top container **/

/** about container */
.page-about {
  display: grid;
  grid-template-columns: minmax(25rem, 40rem);
  grid-template-rows: max-content;
  justify-content: center;
  align-content: center;
background-color: #788BFF;
}

.about-card {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 100px;
 
}
.about-card__header {
}
.about-primary {
  font-size: 2.8rem;
}
.about-card__body {
}
.about-secondary {
  font-size: 1.3rem;
  display: inline-block;
}

/** about container */
.page-projects {

  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 60rem));
  grid-template-rows: 30rem 30rem 30rem;
  gap: 1rem;

  justify-content: center;
  align-content: center;
}

.page-contact {
}

.project-card {
  background-color: rgb(61, 42, 42);
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 100%;
  box-shadow: 0 0 5px;
}

.project-card__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card__header {
}

.projec
.project--primary {
  padding: 0px 0px 20px;
  font-size: 1.8rem;
}
.project-card__body {
}
.project--secondary {
  font-size: 1.2rem;
  display: block;
  padding: 0 5px 0 5px;
}

.project-card__footer {
  display: flex;
  gap: 1rem;
}
.project-card__icon {
  width: 2rem;
}

.project-card__right {
  padding: 20px;
}

.project-card__right img {
  height: 100%;
  max-width: 100%;
}

/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Ubuntu', sans-serif;
    */
